<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.absenti">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".actifity.DetailAbsen"></activity>
        <activity android:name=".actifity.MainActivity" />
        <activity android:name=".actifity.ResultScanActivity" />
        <activity android:name=".actifity.RegisterMhsActivity" />
        <activity android:name=".actifity.MhsActivity" />
        <activity android:name=".actifity.LoginMhsActivity" />
        <activity android:name=".actifity.QrActivity" />
        <activity
            android:name=".actifity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".actifity.LoginActivity" />
        <activity android:name=".actifity.DosenActivity" />
        <activity android:name=".actifity.AboutActivity" />
        <activity android:name=".actifity.ReportActivity" />
        <activity android:name=".actifity.GenerateActivity" />
        <activity android:name=".actifity.AddActivity" />
    </application>

</manifest>